.auth {
  width: 100vw;
  height: 100vh;
  background: #0a0000;
  background: linear-gradient(331deg,rgba(10, 0, 0, 1) 0%, rgb(20, 30, 51) 50%, rgba(10, 0, 0, 1) 100%);
  display: flex;
  justify-content: center;
}

  